/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

#message{
    width:200px;
}

.conteudo.contato{
    min-height:350px;
}

@roboto: 'Roboto Condensed', sans-serif;

body {
    font-size: 14px;
    font-family: @roboto;
    background-color:#EBEBEB;
    background-image: url(../img/bg.png);
    overflow-x:hidden;
    p{
        font-size:1em;
        margin-bottom:0;
        color:#4d4d4d;
    }
    h1, .clearfix{
        line-height: 1em;
    }

}
.conteudo{
    min-height:560px;
}

.bx-next, .bx-prev{
    display:block;
    width:54px;
    height:45px;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -43px;
}
footer, .push {
    height: 43px;
}

.left{
    float: left;
}
.right{
    float:right;
}
.page-imagem{
    float:right;
    margin-top:50px;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

.interna{
    width: 960px;
    margin:0 auto;
}
/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.projetos{
    .projeto-box{
        display:block;
    }
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*****Fontes*****/


/*****Cores*****/
@marrom: #3C3C3C;
@wellread: #8D2E36;
@sail: #00DCFF;
@scarlett: #7B222C;

header{
    width:100%;
    height:128px;
    background-color:#933840;
    &.home{
        background-color:rgba(141, 46, 54, 0.9);
    }
    
    .marca{
        width: 260px;
        height: 80px;
        background:url(../img/marca.png);
        margin: 20px 0 0 2px;
    }
    nav{
        float:right;
        margin-right:13px;
        ul{
            margin:0;
            padding:0;
            li{
                float:left;
                a{  
                    display:block;
                    padding:0 13px;
                    height:128px;
                    line-height:153px;
                    color:#FFF;
                    font-family:@roboto;
                    font-size:16px;
                    text-transform:uppercase;
                    text-decoration:none;
                    &:hover, &.active{
                        color: @sail;
                        background:url(../img/menu-hover.png) no-repeat center;
                    }
                }
            }
        }
    }
    .social{
        float:right;
        margin:66px 0 0;
        padding:0;
        li{
            list-style-type: none;
            float:left;
            margin-left:4px;
            a{
                display:block;
                width: 20px;
                height: 20px;
                background:url(../img/facebook.png);
                margin-bottom:2px;
            }
        }
    }
}

.barra-inferior{
    width:100%;
    height:8px;
    background-color:@scarlett;
    margin-top:-8px;
    position:relative;
    z-index: 300;   
}

/*Footer*/
footer{
    width:100%;
    height:43px;
    background-color:#8D2E36;
    text-align:center;
    font-family:@roboto;
    color:#fff;
    font-size:12px;
    line-height:43px;
    a{color:#FFF; text-decoration: none;}
    img{
        margin-left:4px;
        margin-top:-6px;
    }
}

.conteudo{
    width:960px;
    margin:0 auto;
    padding:65px 0 30px;
}

.marca-home-top{
    display:block;
    width: 630px;
    height: 490px;
    position:absolute;
    top:0;
    left:-100px;
    background-image:url('../img/marca-home-top.png');
}

.marca-home-bottom{
    display:block;
    width: 530px;
    height: 565px;
    position:absolute;
    bottom:0;
    right:130px;
    background-image:url('../img/marca-home-bottom.png');
}

.in-slide-content{
    position:absolute;
    bottom:94px;
    right:197px;
    display:inline-block;
    height:60px;
    background: rgba(60, 60, 60, 0.9);
    font-family:@roboto;
    font-size: 24px;
    color:#fff;
    line-height:60px;
    padding:0 20px;
    text-align:center;
    text-transform:uppercase;
    z-index:90000;
    a{
        z-index:90000;
        text-decoration:none;
        color:#fff;
        position:relative;
    }
}
.slide_nav, header, footer{
    z-index:11;
}
header, footer{
    position:relative
}
.bxslider{
    padding:0;
    margin:0;
    li{text-align:right;}
}
.slide_nav{
    width:115px;
    position:absolute;
    right:194px;
    bottom:156px;
}
.slide-content{
    display: inline-block;
    height: 60px;
    padding: 0 20px;
    background: rgba(60, 60, 60, 0.9);
    font-family:@roboto;
    font-size: 24px;
    color:#fff;
    line-height:60px;
    padding:0 20px;
    text-align:center;
    text-transform:uppercase;
    text-decoration:none;
}
.control{
    width:54px;
    height:45px;
    background-color:rgba(60, 60, 60, 0.9);
    background-image:url(../img/anterior_home.png);
    background-repeat:no-repeat;
    background-position:center;
    cursor:pointer;
    float:left;
    margin-left:2px;
    &:hover{
        background-color:rgba(27, 27, 27, 0.9);
    }
}

.bx-wrapper{
    
}
.control#slide_right{
    background-image:url(../img/proximo_home.png);
}
.conteudo.pagina{
    .pagina-imagem{
        float:left;
        width:380px;
        height:428px;
        margin-left:-20px;
    }
    .pagina-texto-wrapper{
        width:530px;
        float:right;
    }
    .pagina-texto{
        width:2600px;
        position:absolute;
        left:50%;
        margin-left:-95px;
        padding: 30px 0 30px 30px;
        background:#FFF;
        text-align: left;
        &.inverse{
            position:relative;
            width:2880px;
            left:auto;
            right:2345px;
            margin-left:0;
            height:70px;
            padding:30px 30px 30px 0;
            p{font-size:14px;}
        }
        p{
            margin-top:0;
            font-family:@roboto;
            font-size:16px;
            width:545px;
        }
    }
}
.conteudo.projetos{
    width: 999px;
    margin-bottom: 80px;
    padding-left: 8px;
    .projetos-tipos ul{
        margin: 0;
        padding: 0;
        display: block;
        width: 238px;
        height: 38px;
        background-color: #802B35;
        border-left: solid 6px #6D242d;
        margin-top: -73px;
        float: right;
        margin-right: 103px;
        position: relative;
        z-index:301;
        li{
            float:left; 
            list-style-type: none;
            text-transform: lowercase;
            margin-left:15px;
            line-height: 38px;
            a{
                text-decoration:none;
                color:#4A0B14;
                font-weight:bold;
                &:hover, &.active{
                    color:#00DCFF;
                }
            }
        }
    }
    .projeto-box{
        text-align:center;
        width: 313px;
        height: 220px;
        display:block;
        float:left;
        margin: 0 3px 6px 3px;
        font-family:@roboto;
        font-size:16px;
        text-decoration:none;
        .lupa{opacity:0;}
        .titulo{
            position:relative;
            display:none;
            width:313px;
            height:40px;
            line-height:33px;
            text-transform:uppercase;
            margin-top:-40px;
            color:#fff;
            background:@scarlett;
        }
        &:hover{
            img{opacity:1;}
            .lupa{background-color:rgba(123, 34, 44, 0.7); opacity:1;}
            .titulo{display:block;}
        }
        .lupa{
            width: 313px;
            height: 180px;
            background-color:@scarlett;
            display: block;
            background-image: url(../img/detalhe-hover.png);
            background-repeat:no-repeat;
            background-position:center;
            position: relative;
            margin-top: -220px;
        }
    }
}
.conteudo.pagina.atuacao{
    h2{
        font-size:18px;
        font-family:@roboto;
        color:@marrom;
    }
    .pagina-imagem{
        float:right;
        margin-top:-130px;
    }
    .pagina-accordion{
        width:550px;
        float:left;
    }
    #accordion{
        .header{
            width: 2880px;
            position:relative;
            left:auto;
            right:2315px;
            height: 44px;
            display: block;
            background-color: #fff;
            font-family: @roboto;
            text-decoration: none;
            color: #3C3C3C;
            line-height: 44px;
            margin-top:10px;
            outline: none;
            h1{
                width:534px;
                float:right;
                font-size: 22px;
                font-weight: normal;
                margin: 0;
                line-height: 40px;
                float:right;
                color:@wellread;
            }
            .item-icone{
                width:13px;
                height: 13px;
                background:url(../img/atuacao_mais.png);
                float:right;
                margin:13px;
                float:right;
            }
            &.ui-state-active{
                background-color:@wellread;
                h1{
                    color:#fff;
                }
                .item-icone{
                    background-image: url(../img/atuacao_menos.png);
                }
            }
        }
        .servicos-descricao-wrapper{
            float:right;
            width:550px;
            color:@sail;
        }
        .servicos-texto{
             width: 2880px;
            position:relative;
            left:auto;
            right:2315px;
            padding-top:10px;
            padding-bottom:10px;
            background:#FFF;
            p{font-family:@roboto; color:@sail;}
            ul{
                margin:0;
                padding:0;
                margin-left:16px;
                list-style-type:none;
                li{
                    background: url(../img/atuacao_seta.png) no-repeat center left;
                    padding-left:21px;
                    font-family:@roboto;
                    margin-bottom:8px;
                }
            }
        }
    }
}

#wrapper {
                background-color: #fff;
                width: 100%;
                height: 520px;
                overflow: hidden;
                position: relative;
                top: 50%;
                left: 0;
                margin-top:24px;
                margin-bottom:80px;
            }
            #carousel img {
                display: block;
                float: left;
            }
            #prev, #next {
                background-color: rgba(255, 255, 255, 0.7);
                display: block;
                height: 520px;
                width: 50%;
                top: 0;
                position: absolute;
            }
            #prev {
                left: -400px;
            }
            #next {
                right: -400px;
            }


.conteudo.projetos.galeria{
    .interna{
        width:950px;
        .projetos-tipos ul{
            margin-right:83px;
        }
    }
    .projetos-galeria-controles{
        display:block;
        width:124px;
        height: 126px;
        position:absolute;
        right:180px;
        bottom:30px;
        background-color:rgba(123, 34, 44, 0.7);
        background-image:url(../img/projetos-galeria-controles.png);
        background-position: center;
        background-repeat: no-repeat;
        .prev, .next{
            display:block;
            width:50px;
            height:38px;
            float:left;
            margin-top:14px;
            margin-left:16px;
            background:url(../img/projetos-next.png) no-repeat 0 center;
            &:hover{
                background:url(../img/projetos-next-hover.png) no-repeat 0 center;
            }
        }
        .prev{
            background:url(../img/projetos-prev.png) no-repeat 0 center;
            &:hover{
                background:url(../img/projetos-prev-hover.png) no-repeat 0 center;
            }
        }
        .next, .next:hover{
            float: right;
            background-position: right center;
            margin-right: 16px;
            margin-top: 19px;
        }
    }
    .projeto-meta{
        width: 690px;
        float: left;
    }
    .projeto-nav{
        display: block;
        float: right;
        width: 125px;
        height: 106px;
        a{
            display:block;
            width:125px;
            height:35px;
            margin-bottom:1px;
            line-height:33px;
            background-color:#E6E6E6;
            background-image:url(../img/seta-esquerda.png);
            background-position:center;
            background-repeat:no-repeat;
            text-align:center;
            text-decoration:none;
            color:@wellread;
            font-size:12px;
            &.projeto-proximo{
                background-image:url(../img/seta-direita.png);
                background-position:center;
                background-repeat:no-repeat;
                &:hover{
                    background-image:url(../img/seta-direita_hover.png);
                }
            }
            &.projeto-grid{
                background-image:url(../img/todos-projetos.png);
                background-position: 12px center;
                background-repeat:no-repeat;
                span{
                    display: inline-block;
                    margin-left: 27px;
                }
                 &:hover{
                    background-image:url(../img/todos-projetos_hover.png);
                }
            }
            &:hover{
                background-color:#812B36;
                background-image:url(../img/seta-esquerda_hover.png);
                color:@sail;
            }
        }
    }
    .projeto-meta-nav-wrapper{
        width:100%;
        background:#fff;
        padding-top:30px;
        padding-bottom:20px;
        .projeto-meta-descricao{
            width:690px;
        }
        h1{
            font-family:@roboto;
            font-weight:normal;
            margin-top:0;
            color:@wellread;
            font-size:26px;
            text-transform: uppercase;
        }

    }
    width:100%;
    .projeto-galeria{
        
    }
}

.conteudo.midias{
    width: 980px;
    margin: 0 auto;
    padding: 30px 0 30px 20px;
    &.detalhe{
        width:1008px;
        padding-left:0;
        padding-bottom:10px;
        margin-bottom:30px;
        #navigation{
            width:126px;
            height:108px;
            padding:10px;
            text-align:center;
            font-weight: bold;
            text-decoration: none;
            position:fixed;
            bottom:75px;
            right:40px;
            display:none;
            .scrollToTop{
                display:block;
                width:126px;
                height:38px;
                margin-bottom:1px;
                line-height:35px;
                background:#E6E6E6;
                text-decoration:none;
                color:@wellread;
                font-family:@roboto;
                font-size:13px;
                font-weight:normal;
                &:hover{
                    background-color:#812B36;
                    color:@sail;
                }
            }
            .prev,.next{
                text-align:center;
                line-height:35px;
                color:@wellread;
                text-decoration:none;
                font-weight:normal;
                font-size:13px;
            }
            .prev{
                margin-top:1px;
                margin-right:1px;
                display:block;
                width:126px;
                height:38px;
                line-height:38px;
                background-color:#E6E6E6;
                background-image:url(../img/seta-esquerda.png);
                background-position:center;
                background-repeat:no-repeat;
                &:hover{
                    background-image:url(../img/seta-esquerda_hover.png);
                    background-color:#812B36;
                    color:@sail;
                }
            }
            .next{
                margin-top:1px;
                display:block;
                width:126px;
                height:38px;
                float:left;
                background-color:#E6E6E6;
                background-image:url(../img/seta-direita.png);
                background-position:center;
                background-repeat:no-repeat;
                &:hover{
                    background-image:url(../img/seta-direita_hover.png);
                    background-color:#812B36;
                    color:@sail;
                }
            }
        }
        #navigation a:hover{
            text-decoration:none;
        }
    }
    ul.clipping{
        margin:0;
        padding:0;
        margin-bottom:20px;
        list-style-type: none;
        li{
            float:left;
            margin:10px;
            img{
                border:solid 1px #c8c8c8;
            }
        }
    }
    .midia-box{
        display:block;
        width:180px;
        float:left;
        margin-right:20px;
        margin-bottom:28px;
        text-decoration:none;
        font-family:@roboto;
        color:@marrom;
        img{
        }
        .titulo{
            display:block;
            width:180px;
            height:52px;
            background:#FFF;
            margin-top:10px;
            font-size:15px;
            text-align:center;
            line-height:48px;
        }
        .lupa{
            position:relative;
            width: 180px;
            height: 246px;
            display: block;
            background-image:url(../img/detalhe-hover.png);
            background-repeat:no-repeat;
            background-position:center;
            float: right;
            margin-top: -308px;
            opacity: 0;
        }
        &:hover{
            .titulo{background:#92373F; color:#FFF;}
            .lupa{opacity:1; background-color:rgba(146, 55, 63, 0.7);}
        }
    }
}

.conteudo.dicas{
    font-family:@roboto;
    .image-wrapper, .video-wrapper{
        width:690px;
        text-align:center;
        margin-bottom:20px;
    }
    .sidebar{
        width:200px;
        background:#FFF;
        float:left;
        ul{
            display:block;
            width:160px;
            margin:0 auto;
            padding:0;
            text-align:center;
            li{
                list-style-type:none;
                border-bottom:solid 1px @marrom ;
                a{
                    text-decoration:none;
                    color:@marrom;
                    font-size:18px;
                    display:block;
                    padding-top:14px;
                    padding-bottom:12px;
                }
                &:nth-child(1){padding-top:0;}
                &:last-child{border-bottom:none; padding-bottom:8px;}
                &.ui-state-active{font-weight:bold;}
            }
        }
    }
    .tabs-content{
        width:690px;
        padding-left:20px;
        padding-right:20px;
        float:right;
        background:#FFF;
        h1{font-size:18px;}
        p{font-size:18px;}
    }
}
.frame-maps{
    float:left;
    border-bottom: solid 2px #D7D7D7;
    margin-left:-15px;
}
.conteudo.contato{
    margin-bottom:90px;
    font-family:@roboto;
    p{font-family:@roboto;}
    .contatos{
        width: 419px;
        height: 154px;
        float:right;
        padding:25px 0 0 30px;
        background:#933840;
        margin-bottom:8px;
        .telefone{
            font-size:44px;
            line-height:.8em;
            color:#fff;
            display:inline-block;

        }
        .email{
            font-size:18px;
            color:@sail;
        }
        .endereco{
            font-size:16px;
            line-height:1.5em;
            color:#fff;
        }
        .separador{
            color:#898989;
        }
    }
    form{
        margin-bottom:80px;
        .inputs, .textarea{
            float:left;
        }
        .inputs{
            input{
                width:165px;
                padding-left:15px;
                font-size:16px;
                height:48px;
                line-height:48px;
                font-family:@roboto;
                margin-bottom:7px;
                border:none;
                background-color:#FFF;
                color:@wellread;
            }
        }
        .textarea{
            textarea{
                width:230px;
                height:134px;
                padding:15px;
                font-size:16px;
                background-color:#FFF;
                color:@wellread;
                font-family:@roboto;
                border:none;
                margin-left:8px;
            }
            #contato-submit{
                float:right;
                width:100px;
                height:48px;
                border:none;
                color:white;
                font-family:@roboto;
                font-size:18px;
                text-transform:uppercase;
                background:#2AA0CF;
                margin-top:8px;
                &:hover{
                    color:#D7D7D7;
                }
            }
        }
    }
    #message{
        padding-top:15px;
    }
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{ 
            color: @marrom;
}
input::-webkit-input-placeholder{
}
input:-moz-placeholder, textarea:-moz-placeholder{ 
    color: @marrom;
}
input:-moz-placeholder{
}
    /* ==========================================================================
       Helper classes
       ========================================================================== */

    /*
     * Image replacement
     */

    .ir {
        background-color: transparent;
        border: 0;
        overflow: hidden;
        /* IE 6/7 fallback */
        *text-indent: -9999px;
    }

    .ir:before {
        content: "";
        display: block;
        width: 0;
        height: 100%;
    }





/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}


/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    body{min-width:1024px;}
    .grupo, .footer{
        width:1099px;
    }
}


/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    /* Remove unwanted elements */
#header, #nav, .noprint
{
display: none;
}

/* Ensure the content spans the full width */
#container, #container2, #content
{
width: 100%; margin: 0; float: none;
}

/* Change text colour to black (useful for light text on a dark background) */
.lighttext
{
color: #000 
}

/* Improve colour contrast of links */
a:link, a:visited
{
color: #781351
}


}
